.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-nav li {
    display: inline-block;
    margin-left: 25px;
}