.add-post-page {
    border: 1px solid black;
    padding: 0 25px;
}
.form-row {
    margin-bottom: 20px
}
.form-block label {
    display: block;
    margin-bottom: 10px;
}
.form-block input {
    width: 100%;
    padding: 10px;
}
.form-block textarea {
    width: 100%;
    outline: none;
    resize: none;
    padding: 10px;
}
.btn-save {
    margin-bottom: 25px;
}
